@media screen and (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }
  .offcanvas {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .offcanvas.show {
    transform: translateX(0);
  }
}

.services-list-group {
  list-style-image: url(image/list_img.svg);
}

.my-custom-bg {
  background: var(--primary-dark-blue-04, #0d28a6);
}
